{{ define "main"}}
    <main id="main">
        <div id="loop-container" class="loop-container">
            <div class="post type-post status-publish format-standard has-post-thumbnail hentry entry full-without-featured odd excerpt-1">
                <div class='featured-image lazy lazy-bg-image'  data-background="/img/404.jpg"></div>
                <div class="entry-meta">Erreur 404
                </div>
                <div class='entry-header'><h1 class='entry-title'>La page recherchée est introuvable</h1></div>
                <div class="entry-container">
                <div class="entry-content">
                    <article><p>Je crois que c'est pas le bon verre ! <a href="{{ "/" | relURL }}">Revenir dans la dégustation</a></p>
                        <p><img src="/img/404.jpg" alt="photo"></p>
                    </article>
                </div>
            </div>
        </div>
      <div>
    </main>
{{ end }}